header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.header__link {
    display: block;
    position: relative;
}

.header__link h1 {
    left: 0;
    top: 0;
    position: relative;
    z-index: 3;
}

.header__link::before {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: white;

    position: absolute;
    bottom: 5px;
    z-index: 2;
    transition: .2s;
}
  
.header__link:hover::before {
    width: 100%;
    transition: .2s;
}
