.items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.items__item {
    width: 200px;
    border-radius: 15px;
    padding: 20px;
}

.items__item:hover {
    background-color: var(--green-600);
}

.items__item a {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.items__item img {
    border-radius: 50%;
    width: 100%;
    height: calc(200px - 20px - 20px);
    object-fit: cover;
}

.items__item__img {
    overflow: hidden;
    position: relative; 
    height: 100%;
}

.items__item .fa-play {
    position: absolute;
    bottom: -100px;
    opacity: 0;
    right: 20px;

    background-color: var(--green-500);
    padding: 10px;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;

    transition: .2s;
}

.items__item:hover .fa-play {
    bottom: 0;
    opacity: 1;
    transition: .2s;
}

.items__item h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    line-clamp: 2;
    font-size: 1.2rem;
}

.items__item:hover h3 {
    -webkit-line-clamp: 10;
    line-clamp: 10;
}

@media screen and (max-width: 1290px){
    .items {
        justify-content: center;
    }
}