.mainArtista {
    margin: 10px 0 0 0;
    padding: 0;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    position: relative;
}

.main__header {
    height: 300px;
    background-position: center center;
    background-size: cover;
    padding: 30px;
    position: relative;
    max-width: 100vw;
}

.main__header::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: calc(100% + 30px);
    border-radius: 50px 50px 0 0;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
}

.main__header h2 {
    font-size: 5rem;
    position: absolute;
    bottom: 20px;
    z-index: 3;
}

.mainArsta__musics {
    padding: 10px;
    max-width: calc(100vw - 10px - 10px);
}

.mainArsta__musics h3 {
    font-size: 2rem;
}

.main__ol {
    list-style-position: inside;
}

.main__ol li {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 10px 0;
}

.main__ol li:hover {
    background-color: var(--green-800);
}

.main__ol li article {
    width: 100%;
}

.main__ol li article a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.main__ol__li__img-place  {
    flex-grow: 1;
    min-width: 0;
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 20px;
}

.main__ol__li__img-place__cont {
    min-width: 0;
    max-width: 100%;
    word-wrap: break-word;
}

.main__ol__li__img-place__img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    flex-grow: 1;
    min-width: 0;
}

.main__ol__li__img-place img {
    width: 40px;
}

.main__ol li article h4 {
    max-width: 100%;
    word-wrap: break-word;
    min-width: 0;
    flex-grow: 1;
}

.main__ol__see-more {
    background-color: transparent;
    color: white;
    border: none;
}

.main__ol__see-more:hover {
    text-decoration: underline;
}

.fa-artist{ 
    color: var(--green-600);
    position: fixed;
    right: 20px;
    bottom: 10px;
    font-size: 3rem;
}

@media screen and (max-width: 1000px) {
    .main__header h2 {
        font-size: 3rem;
    }
}