main {
    background-image: linear-gradient(to bottom, var(--green-900), var(--green-1000));
    flex: 1;
    margin: 30px;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}