.main-music {
    background: transparent;
    padding: 0;
    margin: 0;
    width: fit-content;
}

.main-music--music {
    width: calc(100vw - 30px - 30px);
    background-image: linear-gradient(to bottom, var(--green-900), var(--green-1000));
    border-radius: 8px;
    height: 60vh;
    margin: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-music--music img {
    border-radius: 8px;
    width: 300px;
    height: 300px;
}

.main-music__infos {
    width: calc(100vw - 30px - 30px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.main-music__infos__image-author {
    border-radius: 8px;
    width: 70px;
    height: 70px;
}

.main-music__infos__link-author {
    transition: .2s;
}

.main-music__infos__link-author:hover {
    filter: brightness(2);
    transition: .2s;
}

.main-music__infos__time {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-music__infos__buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.fa {
    font-size: 2rem;
    transition: .2s;
    transform: scale(1);
}

.fa:hover {
    transform: scale(1.3);
    transition: .2s;
}

.main--music__infos-time-view {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.progress-place {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.progress-place__total {
    display: block;
    height: 7px;
    background-color: gray;
    border-radius: 8px;
    width: 500px;
}

.button-control {
    background-color: transparent;
    border: none;
    color: white;
}

.main--music__autor-infos {
    width: 110px;
}

.progress-place__progress {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: block;
    height: 7px;
    border-radius: 8px;
    width: 15%;
}

.main--music__autor-infos h2 {
    font-size: 0.9rem;
}

.main--music__autor-infos p {
    font-size: 0.8rem;
}

@media screen and (max-width: 1200px){
    .main--music__infos__total {
        width: 300px;
    }
}

@media screen and (max-width: 500px){
    .main--music__infos__total {
        width: 300px;
    }

    .main--music__autor-infos p {
        margin-bottom: 20px;
    }
}