.main-music {
    background: transparent;
    padding: 0;
    margin: 0;
    width: fit-content;
}

.main-music--music {
    width: calc(100vw - 30px - 30px);
    background-image: linear-gradient(to bottom, var(--green-900), var(--green-1000));
    border-radius: 8px;
    height: 60vh;
    margin: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-music--music img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.279);
    border-radius: 8px;
    width: 300px;
    height: 300px;
}

.main-music__infos {
    width: 100vw;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    gap: 20px;
}

.main-music__infos__autor-for-image {
    justify-self: left;   
}

.main-music__infos__image-author {
    border-radius: 8px;
    width: 70px;
    height: 70px;
}

.main-music__infos__autor-for-image__link {
    display: block;
    width: fit-content;
    justify-self: left;
}

.main-music__infos__image-author {
    transition: .2s;
}

.main-music__infos__image-author:hover {
    filter: brightness(2);
    transition: .2s;
}

.main-music__infos__time {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-music__infos__buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.fa {
    font-size: 2rem;
    transition: .2s;
    transform: scale(1);
}

.fa:hover {
    transform: scale(1.3);
    color: var(--green-500);
    transition: .2s;
}

.main--music__infos-time-view {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.progress-place {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.progress-place__total {
    display: block;
    height: 7px;
    background-color: gray;
    border-radius: 8px;
    width: 500px;
}

.button-control {
    background-color: transparent;
    border: none;
    color: white;
}

.main--music__autor-infos {
    justify-self: right;
    display: flex;
    flex-direction: column;
}

.progress-place__progress {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: block;
    height: 7px;
    border-radius: 8px;
    width: 15%;
}

.main--music__autor-infos {
    max-width: 70%;
    width: fit-content;
}

.main--music__autor-infos h2 {
    font-size: 1.1rem;
}

.main--music__autor-infos p {
    font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
    .main-music--music {
        height: 50vh;
    }

    .main-music__infos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-auto-rows: min-content;
        grid-template-rows: auto;
    }

    .main--music__autor-infos {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
        width: 100%;
        max-width: 100%;
        justify-content: flex-start;
    }

}

@media screen and (max-width: 800px){    
    .main-music__infos {
        grid-template-columns: 70px 1fr;
        grid-auto-rows: min-content;
        grid-template-rows: auto;
    }

    .main--music__autor-infos {
        width: fit-content;
        grid-row: 1;
        grid-column: 1;
        justify-self: left;
        grid-column: 2;
    }

    .main-music__infos__autor-for-image {
        grid-row: 1;
    }

    .main-music__infos__time {
        width: fit-content;
        justify-self: left;
        grid-column: 1;
        grid-row: 2;
    }

    .progress-place__total {
        width: fit-content;
        width: 300px;
    }
}

@media screen and (max-width: 500px){
    .main--music__autor-infos p {
        margin-bottom: 20px;
    }
}